.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial;
    color: #3a3230;
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    /* opacity: 0.91; */
}

a, a:after, a:active{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}